<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- Favicon  -->
    <link rel="icon" href="{{'assets//themes/nubis/assets/images/favicon.png' | theme }}">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>Nubis Webpage Title</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="{{'assets/css/bootstrap.min.css' | theme }}" rel="stylesheet">
    <link href="{{'assets/css/fontawesome-all.min.css' | theme }}" rel="stylesheet">
    <link href="{{'assets/css/swiper.css' | theme }}" rel="stylesheet">
	<link href="{{'assets/css/styles.css' | theme }}" rel="stylesheet">
    {% styles %}
	
	
</head>
<body{% if this.page.id=='index' %} data-bs-spy="scroll" data-bs-target="#navbarExample"{% endif %}>
    
    {% partial "navigation" %}

    {% page %}

    {% partial "footer" %}

    <!-- Copyright -->
    <div class="copyright bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <ul class="list-unstyled li-space-lg p-small">
                        <li><a href="article.html">Article Details</a></li>
                        <li><a href="terms.html">Terms & Conditions</a></li>
                        <li><a href="privacy.html">Privacy Policy</a></li>
                    </ul>
                </div> <!-- end of col -->
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <p class="p-small statement">Copyright © <a href="#">Your name</a></p>
                </div> <!-- end of col -->

                <div class="col-lg-3 col-md-12 col-sm-12">
                    <p class="p-small statement">Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    

    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
        <img src="{{'assets/images/up-arrow.png' | theme}}" alt="alternative">
    </button>
    <!-- end of back to top button -->
    	
    <!-- Scripts -->
    <script src="{{'assets/js/bootstrap.min.js' | theme}}"></script> <!-- Bootstrap framework -->
    <script src="{{'assets/js/swiper.min.js' | theme}}"></script> <!-- Swiper for image and text sliders -->
    <script src="{{'assets/js/scripts.js' | theme}}"></script> <!-- Custom scripts -->
    {% scripts %}
</body>
</html>